/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


#navbarUsername{
 display: flex;
}

#logo{
 margin-bottom: -17px;
 display: flex;
}

#navbar_img{
  margin-top: 5px;
}

#siteName{
  margin-top: 9px;
  margin-bottom: 4px;
}

#navBar{
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(239,197,202,1)), color-stop(44%,rgba(242,21,54,1)), color-stop(100%,rgba(241,142,153,1)));
}

#navbarRight{
  margin-top: -16px;
}

#logoLink{
  display: flex;
  color: #000000;
}

#signupSegment{
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(239,197,202,1)), color-stop(25%,rgba(242,21,54,1)), color-stop(100%,rgba(241,142,153,1)));
  height: 600px;
  -webkit-border-radius: 60px;
}

#signinSegment{
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(239,197,202,1)), color-stop(83%,rgba(242,21,54,1)), color-stop(100%,rgba(241,142,153,1)));
  height: 600px;
  -webkit-border-radius: 60px;
}

// body{
//   background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1)));
// }

#browseWell{
  background: -webkit-gradient(linear, left bottom, right top, color-stop(9%,rgba(221,35,38,1)), color-stop(77%,rgba(242,36,36,1)), color-stop(100%,rgba(143,2,34,1)), color-stop(100%,rgba(109,0,25,1)));
}

#popaisleImg{
  width: 175px;
  height: 169px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url("popaisle.jpg") no-repeat;
  border-style: solid;
  border-color: #000000;
  border-width: thin;
}

#storeImg{
  width: 175px;
  height: 169px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url("store.jpg") no-repeat;
  border-style: solid;
  border-color: #000000;
  border-width: thin;
}

#poprackImg{
  width: 175px;
  height: 169px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url("pop_rack.jpg") no-repeat;
  border-style: solid;
  border-color: #000000;
  border-width: thin;
}
#candyaisleImg{
  width: 175px;
  height: 169px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url("candyisle.jpg") no-repeat;
  border-style: solid;
  border-color: #000000;
  border-width: thin;
}

#innerSignupSegment{
  margin-top: 70px;
}

#innerSigninSegment{
  margin-top: 70px;
}

#homeSignInLink{
  color: #000000;
}

#homeSignUpLink{
  color: #000000;
}

#signInField{
  margin-bottom: 2%;
  width: 60%;
}

#signUpField{
  margin-bottom: 2%;
  width: 60%;
}

#postIndexGrids{
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(239,197,202,1)), color-stop(25%,rgba(242,21,54,1)), color-stop(100%,rgba(241,142,153,1)));
  margin-right: 5%;
  margin-bottom: 3%;
  -webkit-border-radius: 10px;
}

#NavColumn{
  width: 20%;
  float: left;
  margin-left: 2%;
}

#NavSegment{
  height: 279px;
  -webkit-border-radius: 10px;
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(239,197,202,1)), color-stop(25%,rgba(242,21,54,1)), color-stop(100%,rgba(241,142,153,1)));
}

#postShowNavSegment{
  height: 450px;
  -webkit-border-radius: 10px;
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(239,197,202,1)), color-stop(25%,rgba(242,21,54,1)), color-stop(100%,rgba(241,142,153,1)));
}

#userMenuLabel{
  text-decoration: underline;
  margin-top: -10%;
  margin-bottom: 3%;
}

#userMenuButtons{
 margin-top: 8%;
}

.userMenuFavoritesButton{
  padding: 10%;
  width: 79%;
}

.userMenuHomeButton{
  width: 79%;
}

.userMenuNewPostButton{
  width: 79%;
}

#indexNavFilter{
 margin: 8%;
}

#NavSegmentHeader{
  margin-top: 0%;
}

#indexHeader{
  margin-left: 29%;
  text-decoration: underline;
}

#showHeader{
  margin-left: 29%;
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}

body{
  background-image: url("/assets/junk30.png")
}
