/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


#navbarUsername{
 display: flex;
}

#logo{
 margin-bottom: -17px;
 display: flex;
}

#navbar_img{
  margin-top: 5px;
}

.siteName{
  margin-top: 9px;
  margin-bottom: 4px;
  font-family: 'Montserrat', sans-serif;
  color: #B2B2B2;
}

#navBar{
  background: rgba(0,0,0,0.8);
  -webkit-border-radius: 0px;
  color: purple;
}

#navbarRight{
  margin-top: -16px;
  color: #B2B2B2
}

#logoLink{
  display: flex;
  color: #000000;
}

h2 a{
  font-family: 'Montserrat', sans-serif;
  color: #B2B2B2;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #B2B2B2;
}

h5{
  margin-top: 2%
}

a{
  color: #000000
}

#navbarRight a{
  color: #B2B2B2;
}

#signupSegment{
  background-color: #EEEEEE;
  height: 600px;
  -webkit-border-radius: 1em;
}

#signinSegment{
  background-color: #EEEEEE;
  height: 600px;
  -webkit-border-radius: 1em;
}

#postIndexGrids h1{
  color: #000000
}

#postIndexGrids h5{
  color: #000000
}



// body{
//   background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1)));
// }

.browseWell{
  background-color: #EEEEEE;
}

#popaisleImg{
  width: 175px;
  height: 169px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url("popaisle.jpg") no-repeat;
}

#storeImg{
  width: 175px;
  height: 169px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url("store.jpg") no-repeat;
}

#poprackImg{
  width: 175px;
  height: 169px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url("pop_rack.jpg") no-repeat;
}
#candyaisleImg{
  width: 175px;
  height: 169px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url("candyisle.jpg") no-repeat;
}

#innerSignupSegment{
  margin-top: 70px;
}

#innerSigninSegment{
  margin-top: 70px;
}

#homeSignInLink{
  color: #000000;
}

#homeSignUpLink{
  color: #000000;
}

#signInField{
  margin-bottom: 2%;
  width: 60%;
}

#signUpField{
  margin-bottom: 2%;
  width: 60%;
}

#postIndexGrids{
  background-color: #EEEEEE;
  margin-right: 5%;
  margin-bottom: 3%;
}

#NavColumn{
  width: 20%;
  float: left;
  -webkit-border-radius: 0px;
}

#NavSegment{
  background: rgba(0,0,0,0.8);
  -webkit-border-radius: 0px;
}

#postShowNavSegment{
  height: 75%;
  background: rgba(0,0,0,0.8);
  -webkit-border-radius: 0px;
}

#userMenuLabel{
  text-decoration: underline;
  margin-bottom: 0%;
  margin-top: 0%
}

.userMenuButtons{
 margin-top: 8%;
}

.userMenuFavoritesButton{
  padding: 10%;
  width: 79%;
}

.userMenuHomeButton{
  width: 79%;
}

.userMenuNewPostButton{
  width: 79%;
}

#indexNavFilter{
 padding: 1em;
}

#NavSegmentHeader{
  margin-top: 0%;
}

.hidden{
  display: none;
}

#indexHeader{
  font-family: 'Montserrat', sans-serif;
  color: #B2B2B2;
  text-decoration: underline;
}

#showHeader{
  margin-left: 29%;
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
  color: #000000;
}

body{
  background-color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  //  background-image: url("/assets/junk30.png")
}

.postIndexFilterButton{
  padding: 10%;
  width: 79%;
}

.postFormDes{
  display: table-caption;
}

.postForm{
  text-align: -webkit-center;
}

.postFormGrid{
  background: #EEEEEE;
  margin-bottom: 3%;
}

.postFormInput{
  width: 50%;
  margin-bottom: 1%;
}

.postFormButtons{
  padding-top: 1%;
}

.postIndexMainGrid{
  height: 275px;
}

.faveFilterNewestButton{
  margin-top: 7%;
}

.postIndexMainGrid  #postIndexGrids{
  -webkit-border-radius: 1em;
}

.userShowHeader{
  height: 200em;
}

.staticMapLink:hover{
  text-decoration: underline;
  color: #000000;
}

.apple_pagination {
  background: #EEEEEE;
  text-align: center;
  padding: 1em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
    .apple_pagination .disabled {
      color: #000000; }
      .apple_pagination .current {
        font-style: normal;
        font-weight: bold;
        background-color: #bebebe;
        display: inline-block;
        width: 1.4em;
        height: 1.4em;
        line-height: 1.5;
        -moz-border-radius: 1em;
        -webkit-border-radius: 1em;
        border-radius: 1em;
        text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
        .apple_pagination a {
          text-decoration: none;
          color: black; }
          .apple_pagination a:hover, .apple_pagination a:focus {
            text-decoration: underline; }
