/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


#navbarUsername{
 display: flex;
}

#logo{
 margin-bottom: -17px;
 display: flex;
}

#navbar_img{
  margin-top: 5px;
}

#siteName{
  margin-top: 9px;
  margin-bottom: 4px;
  font-family: 'Montserrat', sans-serif;
  color: #B2B2B2;
}

#navBar{
  background: rgba(0,0,0,0.8);
  -webkit-border-radius: 0px;
  color: purple;
}

#navbarRight{
  margin-top: -16px;
}

#logoLink{
  display: flex;
  color: #000000;
}

h2 a{
  font-family: 'Montserrat', sans-serif;
  color: #B2B2B2;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #B2B2B2;
}

h5{
  margin-top: 2%
}

#signupSegment{
  background: -webkit-gradient(linear, left bottom, right top, color-stop(9%, #dd2326), color-stop(77%, #f22424), color-stop(100%, #8f0222), color-stop(100%, #6d0019));
  height: 600px;
}

#signinSegment{
  background: -webkit-gradient(linear, left bottom, right top, color-stop(9%, #dd2326), color-stop(77%, #f22424), color-stop(100%, #8f0222), color-stop(100%, #6d0019));
  height: 600px;
}

// body{
//   background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1)));
// }

#browseWell{
  background-color: purple
}

#popaisleImg{
  width: 175px;
  height: 169px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url("popaisle.jpg") no-repeat;
  border-style: solid;
  border-color: #000000;
  border-width: thin;
}

#storeImg{
  width: 175px;
  height: 169px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url("store.jpg") no-repeat;
  border-style: solid;
  border-color: #000000;
  border-width: thin;
}

#poprackImg{
  width: 175px;
  height: 169px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url("pop_rack.jpg") no-repeat;
  border-style: solid;
  border-color: #000000;
  border-width: thin;
}
#candyaisleImg{
  width: 175px;
  height: 169px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url("candyisle.jpg") no-repeat;
  border-style: solid;
  border-color: #000000;
  border-width: thin;
}

#innerSignupSegment{
  margin-top: 70px;
}

#innerSigninSegment{
  margin-top: 70px;
}

#homeSignInLink{
  color: #000000;
}

#homeSignUpLink{
  color: #000000;
}

#signInField{
  margin-bottom: 2%;
  width: 60%;
}

#signUpField{
  margin-bottom: 2%;
  width: 60%;
}

#postIndexGrids{
  background-color: #EEEEEE;
  margin-right: 5%;
  margin-bottom: 3%;
}

#NavColumn{
  width: 20%;
  float: left;
  -webkit-border-radius: 0px;
}

#NavSegment{
  background: rgba(0,0,0,0.8);
  -webkit-border-radius: 0px;
}

#postShowNavSegment{
  height: 75%;
  background: rgba(0,0,0,0.8);
}

#userMenuLabel{
  text-decoration: underline;
  margin-bottom: 0%;
  margin-top: 0%
}

#userMenuButtons{
 margin-top: 8%;
}

.userMenuFavoritesButton{
  padding: 10%;
  width: 79%;
}

.userMenuHomeButton{
  width: 79%;
}

.userMenuNewPostButton{
  width: 79%;
}

#indexNavFilter{
 margin: 8%;
}

#NavSegmentHeader{
  margin-top: 0%;
}

#indexHeader{
  font-family: 'Montserrat', sans-serif;
  color: #B2B2B2;
  text-decoration: underline;
}

#showHeader{
  margin-left: 29%;
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}

body{
  background-color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  //  background-image: url("/assets/junk30.png")
}

.postIndexFilterButton{
  padding: 10%;
  width: 79%;
}

.postFormDes{
  display: table-caption;
}

.postForm{
  text-align: -webkit-center;
}

.postFormGrid{
  background: #EEEEEE;
  margin-bottom: 3%;
}

.postFormInput{
  width: 50%;
  margin-bottom: 1%;
}

.postFormButtons{
  padding-top: 1%;
}

#postIndexMainGrid{
  height: 275px;
}

.faveFilterNewestButton{
  margin-top: 7%;
}

.userShowHeader{
  height: 200em;
}
